    <div id="form2">
    <div class="forgot_pass">Forgot your password? <hr></div>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "users/shared/error_messages", resource: resource %>
        <div class="field_pass">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="actions_pass">
            <%= f.submit "reset" %>
        </div>
    <% end %>
    <br>
    <%= render "users/shared/links" %>