    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
    </label>

<div id="sidebarMenu">
    <ul class="sidebarMenuInner">
        <li> <%= link_to "HOME", posts_path %></li>
        <li> <%= link_to "投稿", posts_new_path %> </li>
        <li><%= link_to "ユーザー新規登録", new_user_registration_path %></li>
        <li><a href="/users/sign_in">ログイン</a></li>
        <li>    <% if user_signed_in? %>
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
                <% end %></a></li>
        <li>    <% if user_signed_in? %>
                <%= link_to "マイページ", user_path(current_user.id) %>
                <% end %></li>
    </ul>
</div>


    <div id="form2">
    <div class="forgot_pass">Forgot your password? <hr></div>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "users/shared/error_messages", resource: resource %>
        <div class="field_pass">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="actions_pass">
            <%= f.submit "reset" %>
        </div>
    <% end %>
    <br>
    <%= render "users/shared/links" %>