<div class="oya_index">
  <div class="index_toukou"> 
    <div class="new_post">新着情報</div> <br>
      <div class="posts-container">
        <% @posts.each do |t| %>
          <a href="/users/<%= t.user.id %>">
            <div class="post">
              <%= link_to t.store_name, post_path(t.id) %>
              /
              <%= link_to t.address, post_path(t.id) %>
            </div>
        <% end %>
      <!--<div class="post"> 
        <%#= paginate @posts %> 
      </div> -->
      </div>
  </div>


  <div class="field_map"> 
      <input id="address" type="textbox" value=""> <input type="button" value="場所を地図で表示" onclick="codeAddress()"> 
<div div id='map'>

<style>
  #map {
        /* height: 625px;
        width: 1100px; */
      }
</style>
</div>


<script>
  let map
  function initMap(){
  geocoder = new google.maps.Geocoder()
  navigator.geolocation.getCurrentPosition(function (position) {
  LatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

  map = new google.maps.Map(document.getElementById('map'), {
    center: LatLng,
    zoom: 15,
    });

  var pin = new google.maps.Marker({
  position:LatLng,
  map: map,
    icon: {
    fillColor: "#0000ff",                //塗り潰し色
    fillOpacity: 1.0,                    //塗り潰し透過率
    path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW, //マーカーの形を指定
    scale: 8,                           //サイズ
    strokeColor: "#0000ff",              //枠の色
    strokeWeight: 1.0                    //枠の透過率
    },
    });
    <% @posts.each do |m| %>
    (function(){
    var contentString = "店名：<%= m.store_name %>"; 

    var marker = new google.maps.Marker({
      position:{lat: <%= m.latitude %>, lng: <%= m.longitude %>},
      map: map,
      title: contentString,
      animation: google.maps.Animation.DROP,
    });
    var infoWindow = new google.maps.InfoWindow({ // 吹き出しの追加
        content: "<a href='<%= post_path(m.id) %>' target='_blank'><%= m.parking %></a>" // 吹き出しに表示する内容
    });

      marker.addListener('click', function() { // マーカーをクリックしたとき
      infoWindow.open(map, marker); // 吹き出しの表示
      });
      })();
  <% end %>
    });
    }
// ここから追加 
    let geocoder

    function codeAddress(){
    let inputAddress = document.getElementById('address').value;

    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      if (status == 'OK') {
    map.setCenter(results[0].geometry.location);
    var marker2 = new google.maps.Marker({
    map: map,
    position: results[0].geometry.location,
    icon: {
    fillColor: "#d2691e",                //塗り潰し色
    fillOpacity: 1.0,                    //塗り潰し透過率
    path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW, //マーカーの形を指定
      scale: 8,                           //サイズ
    strokeColor: "#d2691e",              //枠の色
    strokeWeight: 1.0                    //枠の透過率
  },
  });
  } else {
  alert('該当する結果がありませんでした：' + status);
}
});   
}
</script>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_API_KEY']%>&callback=initMap" async defer></script>
  
</div>