
<table class="new">
  <%= form_for @post do |f| %>
    <th colspan="2">コンビニを投稿しよう！</th>

    <tr>
      <th><div class="fa-solid fa-shop"></div></th>
      <td >
          <%= f.select :store_name, 
          [["ローソン", "ローソン"], 
          ["ファミマ", "ファミマ"], 
          ["セブンイレブン", "セブンイレブン"]], include_blank: "選択して下さい" %>
      </td>
    </tr>
          
    <tr >
      <th><div class="fa-solid fa-clock"></div></th>
      <td >
          <%= f.time_field :start, class: 'form-control', id: 'business_start_time' %> 〜
          <%= f.time_field :end, class: 'form-control', id: 'business_end_time' %>
      </td>
    </tr>

    <tr >
      <th><div class="fa-solid fa-square-parking"></div></th>
      <td >
          <%= f.select :parking, 
          [["・駐車場あり", "・駐車場あり"], 
          ["・駐車場なし", "・駐車場なし"]],  include_blank: "選択して下さい" %>
      </td>
    </tr>

    <tr >
      <th><div class="fa-solid fa-toilet"></div></th>
      <td>
          <%= f.select :toilet, 
          [["・トイレあり", "・トイレあり"], 
          ["・トイレなし", "・トイレなし"]],  include_blank: "選択して下さい" %>
      </td>
    </tr>

    <tr >
      <th><div class="fa-solid fa-location-dot"></div></th>
      <td >
          <%= f.text_field :address, :size => 50 %>
      </td>
    </tr>
  </div>
</table> 

  <div class="new_toukou"> 
      <button type="">投稿する</button> 
  </div>
<% end %>