

<div class="oya_show">
  <div class="syusei_show">    
    <table class="show">
      <th colspan="2">投稿内容詳細</th>
      <div class="post">
      <tr>
        <th><div class="fa-solid fa-shop"></div></th>
        <td><%= @post.store_name %></td>
      </tr>
      <tr>
        <th><div class="fa-solid fa-clock"></div></th>
        <td><%= @post.start.strftime("%H:%M") %> 〜 <%= @post.end.strftime("%H:%M") %></td>
      </tr>
      <tr>
        <th><div class="fa-solid fa-square-parking"></div></th>
        <td><%= @post.parking %></td>
      </tr>
      <tr>
        <th><div class="fa-solid fa-toilet"></div></th>
        <td><%= @post.toilet %></td>
      </tr>
      <tr>
        <th><div class="fa-solid fa-location-dot"></div></th>
        <td><%= @post.address %></td>
      </tr>
      <tr>
        <th><div class="fa-solid fa-user"></div></th>
        <td><%= @post.user.name %></td>
      </tr>
      <tr>
        <th><div class="fa-solid fa-calendar-check"></div></th>
        <td><%= @post.created_at.strftime("%m月 %d日") %></td>
      </tr>
  </div>
</table>
    <%= link_to "投稿を修正する", edit_post_path(@post.id) %>
</div>

<div id="map"> </div>
  <%#= 追加　<div id="map"></div>の大きさを定義 400px×400px 〇〇.scssに書いても良い。 %>
  <style>
  #map {
        height: 520px;
        width: 700px;
        }
  </style>
  <%#= 追加　mapを実際に表示させる関数をまとめた部分、バックエンドのためユーザーからは見れない。%>
  <script>
  let map
    // mapの表示関数 
    function initMap() {
      geocoder = new google.maps.Geocoder()
              
      map = new google.maps.Map(document.getElementById("map"), {
        center: {
          //@tweetにlatitude,longitudeの情報が入っている。@tweetは自分のコントローラーに合うように適宜変更すること。
          lat: <%= @post.latitude %> ,
          lng: <%= @post.longitude %>
        },
        zoom: 18,
      });
              
      (function () {
        var contentString = "住所：<%= @post.address %>";
              
        var marker = new google.maps.Marker({
        //@tweetにlatitude,longitudeの情報が入っている。@tweetは自分のコントローラーに合うように適宜変更すること。
        position: {
          lat: <%= @post.latitude %>,
          lng: <%= @post.longitude %>
        },
        map: map,
        title: contentString
      });
              
      })();
    }
  </script>
</div>

<%#= .envファイルに書かれているAPIキーを呼び出す部分。%>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXgIKLfcf-vcTHkv1N5wkLLuXLoVEiIUs&callback=initMap" async defer></script>