<!DOCTYPE html>
<html>
<head>
    <title>コンビニMap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0-beta2/css/all.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
</head>
<body>
    <header>

    <div class="top">
        <%= link_to "new", posts_new_path %> 
    </div> 

    <div class="top">
        <%= link_to "user", new_user_registration_path %>
    </div>
        
    <div class="top">
        <a href="/users/sign_in">login</a>
    </div> 

    <div class="top">
        <% if user_signed_in? %>
        <%= link_to 'log out', destroy_user_session_path, method: :delete %>
        <% end %>
    </div>  

    <div class="top">
        <% if user_signed_in? %>
        <%= link_to "My Page", user_path(current_user.id) %>
        <% end %> 
    </div>



        <div class="title_title">
        <%= link_to "コンビニMAP", posts_path %>
        </div>
    
        <%# <div class="top">
            <%= link_to "HOME", posts_path %>
        
        
    </header> 

    
        <%= yield %>
    

    <footer>
        <div class="Copyright"> 
            <p>©　2021 大野寿貴. </p>
        </div>
    </footer>
</body>

</html>